.form-control {
  background-color: white;
  color: black;

  &:focus {
    background-color: white;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
    color: black;
  }

  &::placeholder {
    color: #666666;
    opacity: 1;
  }
}

.field-container {
  border: 2px solid black;
  color: black;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #ffbfed;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-group .btn {
  flex: 1;
  max-width: 200px;
  text-align: center;
}
