.booking-confirmation {
  background-color: $bg-rosa;
  padding: 3rem 2rem 3rem;
  border-radius: 0.4rem;
  max-width: 900px;
  margin: 0 auto;
}

.booking-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: $primaryTextColor;
  background-color: $bg-rosa;
}

.booking-row {
  display: flex;
  justify-content: center;
}

.booking-image {
  max-width: 400px;
  width: 100%;
}

@media (min-width: 768px) {
  .booking-image-col {
    padding-right: 10px;
  }
}

/* Style for list items on small screens */
@media (max-width: 576px) {
  .booking-confirmation .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
