.background-image-col {
  background-image: url('../../assets/images/image.svg'); /* Sökvägen till din bild */
  background-size: cover; /* Gör så att bilden täcker hela området */
  background-position: center; /* Centrera bilden */
  color: white; /* Vit text för bättre läsbarhet */
  padding: 20px; /* Justera efter behov */
  min-height: 200px; /* Justera för att ge höjd om kolumnen är tom */
}

.blood-image-wrapper {
  background-color: #fdffb7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blood-svg {
  width: 100%; /* Justerar bredden på SVG-bilden */
  height: auto; /* Bevarar proportionerna */
}
