.bg-btn {
  background-color: $bg-btn !important;
}

.border-btn {
  border: 2px solid $btn-rosa;
}

.nav-button {
  background: #1dc9cb;
  border-radius: 20px 20px 40px 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 0.2em 0.5em;

  @include media-breakpoint-up(md) {
    padding: 1em 2em;
    text-decoration: underline;
  }
}
.react-datepicker-wrapper {
  width: 100%;
}
