.movie-card {
  background-color: $bg-card !important;
  cursor: pointer;
  scale: 0.98;
  transition: all 0.3s ease;
}
.movie-card:hover {
  scale: 1;
}
.card-img {
  object-fit: fill;
  aspect-ratio: 4/4;
}

.small-font {
  font-size: 0.85rem;
}
.react-datepicker-popper {
  margin-left: 2rem;
}

.static-card {
  cursor: default;
  scale: 0.98;
  transition: none;
}

.static-card:hover {
  scale: 0.98;
}
