@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

.digital-700 {
  font-family: Orbitron;
  font-weight: 700;
}
.digi-400 {
  font-family: 'Wallpoet', sans-serif;
}
